APP_CORS_ALLOW_ORIGINS=["http://localhost:8081"]

DATABASE_URL=postgresql+asyncpg://postgres:pswd@ip:5432/db_name
DB_SCHEMA=public

TASK_BROKER_URL=amqp://rabbitmq:rabbitmq@localhost:5672/test
PERIODIC_WORKER_QUEUE_NAME=periodic_queue

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1
SENTRY_ENVIRONMENT=dev
